[submodule "glfw"]
	path = glfw
	branch = 3.3-stable
	url = https://github.com/glfw/glfw.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
